* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header {
  background-color: #333;
  padding: 10px;
  height: 3em;
  align-items: center;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  width: 32em;
}
.header{
  background-color: #333;
  padding: 0.625rem;
  height: 3em;
  align-items: center;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  width:99.9%;
}
nav{
  display: flex;
}
.logo{
  margin-top: 1%;
  margin-left: 1%;
}
.nav_link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.nav_link:hover{
  text-shadow: -5px 4px black;
  color: #06a500;
}


@media  screen and ( max-width:450px){
  .header{
    width: 100%;
  }
section{
 
}
  .tarjetas{
  
  }

 .tarjetasb{
   
  

  }
  .tarjetasc{
    
    
  }
}

body {
  background-image: url(/style/img/CC.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
img{
   position: absolute;
  left: 0px;
  top: 1%;
}
.contetj{
 display: flex;
}
.tarjetas {
  width: 235px;
  height: 215px;
  perspective: 1000px;
  position: absolute;
}

.tarjeta {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-top: 41%;
  margin-left: 170%;
  border: 2.5px solid #ffffff;
  box-shadow: inset 0 0 9px #0576e0, 0 0 18px rgb(211, 4, 238);
  display: flexbox;
}

.tarjetas:hover .tarjeta {
  transform: rotateY(180deg);
}

.tarjetas .frente,
.tarjetas .dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.tarjetas .dorso {
  transform: rotateY(180deg);
}

.tarjetasb {
  width: 235px;
  height: 215px;
  perspective: 1000px;
  position: absolute;
  margin-top: 9.5%;
  margin-left: 75%;
  border: 2 px solid red;
}
 
.tarjetab {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 2.5px solid #ffffff;
  box-shadow: inset 0 0 9px #0576e0, 0 0 18px rgb(211, 4, 238)
}

.tarjetasb:hover .tarjetab {
  transform: rotateY(180deg);
}

.tarjetasb .frenteb,
.tarjetasb .dorsob {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.tarjetasb .dorsob {
  transform: rotateY(180deg);
}

.tarjetasc {
  width: 235px;
  height: 215px;
  perspective: 1000px;
  position: absolute;
  top: 7.2%;
}

.tarjetac {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-top: 23%;
  margin-left: 5%;
  border: 2.5px solid #ffffff;
  box-shadow: inset 0 0 9px #0576e0, 0 0 18px rgb(211, 4, 238)
}

.tarjetasc:hover .tarjetac {
  transform: rotateY(180deg);
}

.tarjetasc .frentec,
.tarjetasc .dorsoc {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.tarjetasc .dorsoc {
  transform: rotateY(180deg);
}

.titulo{
    text-align: center;
    margin: auto;
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    border-color:  linear-gradient(to top, blue, rgb(161, 3, 153), rgb(136, 223, 37));
    text-shadow: 0 0 7px #fa6ef3, 0 0 15px rgb(232, 253, 40), 0 0 30px rgb(245, 235, 96);
    border: transparent;
    margin-top: 53%;
}

.container_nav {
  margin: auto;
  background-color: #333;
  padding: 10px;
  height: 2em;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  font-size: 1.5em;
}
.nav_bar{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  color:#fff;
  text-decoration: none ;
  list-style: none;
}
.logo{
  width: 2em;
  height: 2em;
  display: flex;
}


.nav_bar_aPage{
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  
}

.nav_bar_aPage:hover{
  color: #06a500;
}

@media (max-width:700px) 
{
  header {
    flex-direction: column;
  }
  body{
    max-width: fit-content;
  }
  .nav_bar{
    padding: 10px 0px;
  }

}

