*{
    background: rgb(4,1,54);
    background: rgba(4,1,54,1);
    background: rgb(29, 29, 90);
    background: rgb(43, 43, 151);
    background: rgba(9,113,121,1);
    background: rgba(7,233,37,1);
    
}
*{background:#cb59ff
    #000000	(0,0,0)
    #aa1bab	(170,27,171)
    #ed8cff	(237,140,255)
    #000000
}
