* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(/style/img/fondo-abstracto-pixel-lluvia_23-2148371445.avif);
   background-size: cover;
    }
  
.chiquito{
    display;
}
/*Header*/
.header {
    background-color: #333;
    padding: 10px;
    height: 3em;
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.menuitems {
    text-align: center;
    position: absolute;
    padding: 5rem;
    margin-top: -6rem;
    margin-left: -1rem;
    top: 13rem;
    left: 7.5rem;
    list-style: none;
    opacity: 0;
    font-size: 2rem;
    background-color: black;
    border-radius: 0.25em;
    transform: translateX(-10%);
    transition: transform 80ms ease-in-out, opacity 180ms;
    display:none
}

.menuitems li{
    color: white;
    padding: 0.5rem;
}

.menuitems li a{
    color: white;
    text-decoration: none;
}

.menuitems li a:hover{
    color:#06a500;
}

.check {
    position: absolute;
    top: 8rem;
    left: 8rem;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menuitems {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.hammenu {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 8rem;
    left: 8rem;
    padding: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 0.25em;

}

.hammenu .lineas {
    background-color: white;
    border-radius: 1em;
    width: 2rem;
    height: 0.25rem;

}

.hammenu .linea1 {
    transform-origin: 50% 400%;
    transition: transform 100ms ease-in-out;
}
.hammenu .linea2 {
    transform-origin: 90% -120%;
    transition: transform 100ms ease-in-out; 
}
  
.hammenu .linea3 {
    transform-origin: 70% 70%;
    transition: transform 100ms ease-in-out;
  
}
.hammenu .linea4 {
    transform-origin: 30% -80%;
    transition: transform 100ms ease-in-out;
}

.check:checked~.hammenu .linea1 {
    display: block;
    transform: rotate(270deg);
}

.check:checked~.hammenu .linea2 {
     display: block;
    transform: rotate(270deg);
}

.check:checked~.hammenu .linea3 {
    display: block;
    transform: rotate(120deg);

}
.check:checked~.hammenu .linea4 {
    display: block;
  transform: rotate(240deg);
}

.hammenu .span{
    height: 2px;
    width: 100%;
    margin-top: 6px;
    transform-origin: 0px 100%;
    display: block;
    background-color: black;
    border-radius: 10em;
  transition:all 300ms;
}


.imagen_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen_logo a{
    text-decoration: none;
    color: #fff;
    margin: 0.2em;
}
.nav_link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav_link:hover{
    text-shadow: -5px 4px black;
    color: #06a500;
    
}
.logo{
    width: 1.5em;
    height: 1.5em;
}


.nav_bar_aPage{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    
}

.nav_bar_aPage:hover{
    color: #06a500;
}

/*Register */
/*MUY MALA PRACTICA PONERLO DIRECTO EN EL BODY YO LO HICE PARA Q VEAN*/
.fondo_register {
    border: 3px solid black;
    background: no-repeat url(./img/HD-wallpaper-video-game-minecraft2.jpg);
    background-size: cover;
    background-position: center top; 
    backface-visibility: inherit;
    background-attachment: fixed;

}

.titulo {
   
        text-align: center; 
        margin: auto;
        margin-top:12px;
}

.slogan{
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-weight: 700px;
    font-style: oblique;
     font-size:37px;
     text-shadow: 0 0 7px #2dc010ef, 0 0 15px rgba(7, 247, 235, 0.993), 0 0 30px rgb(195, 9, 241);
     letter-spacing: 0.1em;
      word-spacing: 0.15em;
}

.mmcontendor{
   border: 4px solid black;
}

.container_register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15em;
}

.container_form {
    display: flex;
    align-items: center;
    background-color: #439b0c;
    justify-content: center;
    flex-direction: column;
    border: 1em solid #439b0c;
    margin: 1em;
    padding: 1.5em;
}

/*
Pendiente de modificacion*/
.label_form {
    color: #9b260c;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Carrusel de Gabri*/

#contenedorcarru {
   margin-top: 100px;
   height: 270px;
   overflow: hidden ;
   margin-left: 0.5em;
   margin-right: 0.5em;
   border-radius: 50px;
   box-shadow: inset -5px 5px 10px #2c2c2b,inset 5px -5px 10px #06a500;
   top: 0%;
   text-align: center;
   background: linear-gradient(309deg, rgba(4,1,54,1) 3%, rgba(9,113,121,1) 51%, rgba(7,233,37,1) 100%);

  
}

.carru {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all .5s ease;
    display: flex;
   flex-direction: column;
   align-items: center;
  
    
}

.carru .items {
    height: 100%;
    width: 100%;
    flex-flow: wrap;
    margin: auto;  
}

.carru .flechas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
}
a {
    text-decoration: none;
}

i {
    color: white;
    font-size: 300%;
    -webkit-text-stroke: 1.5px rgb(172, 6, 172);
}


#contenedorscroll {
    margin-top: 8%;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 7px #0576e0, 0 0 15px rgb(211, 4, 238);
    background-color: #2c2c2b;
    margin-left: 10%;
    margin-right: 10%;
    
  }
  
  #tituloscroll {
    text-align: right;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-animation: my-animation 20s linear infinite ;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
    
  }
  
  /* Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  /* Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

.offt{
    position: relative;
    top: 0px;
    font-size: 32px;
    color: rgba(7,233,37,1);
    -webkit-text-stroke: 0.5px #fff ;
    padding: 0.4em;
    letter-spacing: 0.1em;
    background-color:#2c2c2b ;
    border-radius: 13px;  
    font-family: 'Staatliches', cursive;
}

.espacio{
    visibility: hidden;
}

#off{
    display: flex;
    width: 940px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 7px #0576e0, 0 0 15px rgb(211, 4, 238);
    margin-top: 0%;
}

#off .ioff{
    width: 0em;
    flex-grow: 1;
    object-fit: contain;
    opacity: .8;
    transition:.5s ease;
    padding: 0;
    
}

#off .ioff:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.tpg{
    margin-top: 7%;
    
}

.eg{
    color:#cb59ff;
    border-color: white 0.5px;
    text-shadow: 0 0 7px #2dc010ef, 0 0 15px rgba(7, 247, 235, 0.993), 0 0 30px rgb(195, 9, 241);
}


.titulogp {
      font-family: 'Staatliches',cursive;
      font-style: italic;
      color: white;
      text-align: center;
      background-color: #333;
      box-shadow: inset 0 0 12px #e7f714, 0 0 19px rgb(4, 236, 205);
      border: #333 1em;
      -webkit-text-stroke: 0.5px #080c01;
      font-size: 37px;
}


article{
    height: 500px;
    width: 100%;
    margin-top: 0%;
    background-color: #333;
    box-shadow: inset 0 0 12px #e7f714, 0 0 19px rgb(4, 236, 205);
    border: #333 1em;  
    margin-left: 0.5;
    margin-right: 0.5;
   
}

article .contenedorgp{
    margin-top: 0%;
    height: 318px;
    width: 99%;
    margin-left:0.5%;
    margin-right: 0.5%;
}
    

.carruvideo{
    height: 98%;
    position: relative;
    display: flex;
    padding: 0.25px;
}
.carruvideo .itemsv {
    height: 99%;
    flex: 1 0 auto;
    padding: 0em;
}

.carruvideo .itemsv2 {
    height: 99%;
    flex: 1 0 auto;
    padding: 0em;
}

.tj{

    font-family: 'Staatliches', cursive;
    color:rgba(7,233,37,1);
    -webkit-text-stroke: 0.5px black;
    font-size: 28px;
    text-align: center;
}



.tj2{

    font-family: 'Staatliches', cursive;
    color:rgba(7,233,37,1);;
    -webkit-text-stroke: 0.5px black;
    font-size: 28px;
    text-align: center;
}

.infojuego{
    color: white;
    margin-left: 3%;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 0.15em;
    letter-spacing: 0.02em;
    padding: 0.15em;
 }

.infojuego2{
   color: white;
   margin-left: 3%;
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   word-spacing: 0.15em;
   letter-spacing: 0.02em;
   padding: 0.15em;

}

article .conteinfo{
    height: 35%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: center;

}
.conteinfo .infopg1{
    flex: 1 1 auto;
    align-self: auto;
  height: 99%;

}

.conteinfo .infopg2{
    flex: 1 1 auto;
    align-self: auto;
  height: 99%;
}
.aoculto{
    visibility: hidden;
}
button{
    border: 0%;
    background-image: linear-gradient(150deg, rgb(19, 230, 230), rgba(9,113,121,1), rgba(7,233,37,1));
    margin-top: 2.5%;
    cursor: pointer;
    color: #fff;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 14px ;
    font-weight: bold;
    display: flex;
    padding: 4px;
    transition: .3s;
    margin-left: 36%;
    font-family: 'Staatliches',cursive;
    letter-spacing: 0.1em;
    
  }
  
  button span{
      background-color: #111;
      padding: 16px 24px;
      border-radius: 8px;
      transition: .3s;
  }

  button span:hover{
    background: none;
  }
 button:active{
    transform: scale(0.9);
 }
  
 .button2{
    border: 0;
    background-image: linear-gradient(150deg, rgb(19, 230, 230), rgba(9,113,121,1), rgba(7,233,37,1));
    margin-top: 2.5%;
    cursor: pointer;
    color: #fff;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 14px ;
    font-weight: bold;
    display: flex;
    padding: 4px;
    transition: .3s;
    margin-left: 36%;
    font-family: 'Staatliches',cursive;
    letter-spacing: 0.1em;
    
  }
  
  .button2 span{
      background-color: #111;
      padding: 16px 24px;
      border-radius: 8px;
      transition: .3s;
  }

  .button2 span:hover{
    background: none;
  }
 .button2:active{
    transform: scale(0.9);
 }

.head {
    background-color: #52a535;
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar a {
    color: white;
    text-transform: uppercase;
    padding: 15px 15px;
    display: block;
}

.navbar {
    display: flex;
    margin-right: 10px;

}

.cuerpo {
    background-color: #83b6be;
}

#pf{
    display:flex;
  }
  .contefoo{
      border: black 3px solid;
      height: 600px;
      width:100%;
        padding: 3em;
        background:linear-gradient(rgba(255, 255, 255, 0.8), transparent) ; /* Fondo semi-transparente para mejor legibilidad */
        border-radius: .5em;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
        text-align: center; /* Centrar el contenido del contenedor */
        margin-top: 3%;
    }
    
  .contefoo .contelineas{
     height: 90px;
    width: 100%;
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      top: 0%;
      background: linear-gradient(90deg, rgba(131,58,180,1) 30%, rgba(188,121,210,1) 46%, rgba(100,68,135,1) 82%);
  }

  .contelineas .l1{
    border:1px solid black;
     height: 0px;
      width: 30%;
    margin-left:2%;
    margin-top:3%;
 }

  .contelineas .l2{
    border:1px solid black;
     height: 0px;
      width: 30%;
     margin-left:68%;
     margin-top:0%;
    
  }
  .contelineas .l3{
    height: 70px;
    width: 32%;;
    margin-left:33%;
    background: url(/style/img/fimg2.png);
    background-size: cover;
    align-items: center;
    margin-top: -4%;
    padding: 1%;
    opacity: 120%;
}

 .conteinfofooter{
    z-index: 0;
    width: 90%;
    font-family:'Staatliches',cursive;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8%;
  
    & .infofooter{
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--primary);
      padding: 0 2rem;
  
      & h2 {
        position: relative;
        text-transform: uppercase;
  
        &::before {
          content: '';
          position: absolute;
          transform: translate(-0.5rem,-0.25rem);
          width: 1rem;
          height: 1rem;
          background-color: var(--accent);
          z-index: -1;
        }
      }
  
      & p {
        font-style: italic;
        line-height: 1.8;
        color: var(--light);
      }
  
      & .iconof {
        font-size: 1.1rem;
        padding: 0.25rem 0.5rem 0.25rem 0;
        cursor: pointer;
        color: var(--accent);
  
        &:hover {
          animation: pulse 0.5s;
          color: var(--light);
        }
      }
    }
  
    & aside {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      padding: 0 2rem;
  
      & ul {
        list-style-type: none;
  
        & li {
          padding: 0.5rem 0;
          cursor: pointer;
          
          &:hover:not(:first-of-type) {
            animation: pulse 0.5s;
            color: var(--accent);
          }
        }
  
        & li:first-of-type {
          color: var(--primary);
          cursor: default;
        }
      }
    }
  }
  
  @keyframes pulse {
    0%,100% {
      transform: translate(0);
    }
    50% {
      transform: translate(-0.1rem,-0.25rem);
    }
  }
  
  @media (max-width:700px) {
    footer {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  
  @media (max-width:700px)
  {
    footer {
      flex-wrap: wrap;
      gap: 1rem;
    }
}

   
    
/*AGREGAR MEDIA*/

@media ( max-width:650px) {
    .header{
        display: none;
    }
    .chiquito{
        display: block;
    }
}
  