
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../style/img/conocenos\ editc.png);
    background-size: cover;
}
.tarjetas {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
        
  .tarjeta {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .tarjetas:hover .tarjeta {
    transform: rotateY(180deg);
  }
  .tarjetas .frente, .tarjetas .dorso {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .tarjetas .frente{
    background-color: #bbb;
    color: black;
  }
  .tarjetas .dorso {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
 