* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 3em;
    align-items: center;
    background-color: aquamarine;
}

.nav_reference {
    list-style: none;
    text-decoration: none;   
}

.content_Productos {
    display: flex; 

}

.seccion_producto {
    display: flex;

}

.producto {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.imagenDelProducto {
    display: flex;
    height: 10em;
    width: 10em;
}

.precioProducto {
    grid-column: 1;
}

.descripcionProducto {}

.btn-compra {}

.btn-selecionDeCantidad {}

#cantidadDeProductos {}

.btn-selecionDeCantidad {}

.btn-aniadirProducto {}

/*Seccion */
.seccionOfertas {}

.productoOferta {}

.productoOferta_img {}

.tituloProductoOferta {}

.precioOferta {}

.productoOferta_img {}

.tituloProductoOferta {}

.precioOferta {}

/* Footer */
.footer {}

.footer_img {}

.footer_container_p {}