* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(img/HD-wallpaper-minecraft-abstract-games-thumbnail.jpg);
   background-size: cover;
    }

/*Header*/
.container_header {
    
    margin: auto;
    background-color: #333;
    padding: 10px;
    height: 3em;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    font-size: 2em;
}
.nav_bar{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    color:#fff;
    text-decoration: none ;
    list-style: none;
}


.nav_bar_aPage{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    
}

.nav_bar_aPage:hover{
    color: #06a500;
}

/*Register */
/*MUY MALA PRACTICA PONERLO DIRECTO EN EL BODY YO LO HICE PARA Q VEAN*/
.fondo_register {
    border: 3px solid black;
    background: no-repeat url(./img/HD-wallpaper-video-game-minecraft2.jpg);
    background-size: cover;
    background-position: center top; 
    backface-visibility: inherit;
    background-attachment: fixed;

}

.titulo {
   
        text-align: center; 
        margin: auto;
        margin-top: 120px;
    
}

.slogan{
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-weight: 700px;
    font-style: oblique;
     font-size:37px;
     text-shadow: 0 0 7px #2dc010ef, 0 0 15px rgba(7, 247, 235, 0.993), 0 0 30px rgb(195, 9, 241);
     letter-spacing: 0.1em;
      word-spacing: 0.15em;
}

.mmcontendor{
   border: 4px solid black;
}

.container_register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15em;
    

}

.container_form {
    display: flex;
    align-items: center;
    background-color: #439b0c;
    justify-content: center;
    flex-direction: column;
    border: 1em solid #439b0c;
    margin: 1em;
    padding: 1.5em;
}

/*
Pendiente de modificacion*/
.label_form {
    color: #9b260c;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/*Carrusel de Gabri*/
.principal {
    -webkit-text-stroke: 2px rgb(3, 3, 2);
    color: rgb(4, 231, 72);
    font-size: 55px;
    text-align: center;
}

.parra {
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

#contenedorcarru {
    height: 250px;
    overflow: hidden;
   margin: auto;
   margin-top: 100px;
   border-radius: 50px;
   box-shadow: inset -5px 5px 10px #2c2c2b,
   inset 5px -5px 10px #06a500;
               position: sticky;
               top: 0%;
               text-align: center;
               background: linear-gradient(309deg, rgba(4,1,54,1) 3%, rgba(9,113,121,1) 51%, rgba(7,233,37,1) 100%);
}

.carru {
    height: 100%;
    position: relative;

}

.carru .items {
    height: 100%;
    margin: 0% auto;

}

.carru .flechas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    color: rgb(16, 49, 197);
    justify-content: space-between;
    padding: 3em;
}

a {
    text-decoration: none;
}

i {
    color: black;
}

.carrousel .puntos {
    width: 100%;
    background-color: black;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}

.carrousel .punto {
    width: 1em;
    height: 1em;
    background-color: greenyellow;
    margin: 1em;
}
.offt{
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 7px #0576e0, 0 0 15px rgb(211, 4, 238);
    position: relative;
    top: 60px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 1px #b1f82c;
    padding: 0.4em;
    letter-spacing: 0.1em;
    background-color:#2c2c2b ;
    margin-left: 1.4%;
    margin-right: 1.4%;
    border-radius: 16px;
    
    
}
.ofertas{
    height: 280px;
    margin: auto;
    margin-top: 60px;
    border: 2px solid #ffffff;
    box-shadow: inset 8px 8px 9px rgb(211, 4, 238), 
                inset -10px -10px 9px #0576e0;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
    border-radius: 16px;
    background: transparent;
    position: sticky;
    top: 0%;
    text-align: center;
    background-color: #2c2c2b;
     }

     .carruoff {
        height: 100%;
        position: relative;
    
    }
    
    .carruoff .itemsoff {
        height: 100%;
        margin: 0% auto;
    
    }
    
    .carru .flechas {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        color: rgb(16, 49, 197);
        justify-content: space-between;
        padding: 3em;
    }
    
.head {
    background-color: #52a535;
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar a {
    color: white;
    text-transform: uppercase;
    padding: 15px 15px;
    display: block;
}

.navbar {
    display: flex;
    margin-right: 10px;

}

.cuerpo {
    background-color: #83b6be;

}




