* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
.header{
    background:#3498db ;
    height:5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}




/*Register */
/*MUY MALA PRACTICA PONERLO DIRECTO EN EL BODY YO LO HICE PARA Q VEAN*/
.fondo_register{
    background: no-repeat url(./img/Fondo_deRegister.jpg);
    background-size: cover ;
    background-position : center top ;
}
.container_register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15em;
}
.container_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1em solid #439b0c;
    margin: 1em;
    padding: 1.5em;
}

/*.label_form{} Pendiente de modificacion*/








/*Carrusel de Gabri*/
.principal {
    -webkit-text-stroke: 2px rgb(3, 3, 2);
    color: rgb(4, 231, 72);
    font-size: 55px;
    text-align: center;
}

.parra {
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
}

#contenedorcarru {
    height: 250px;
    overflow: hidden;
    border: 4px solid black;
}

.carru {
    height: 100%;
    position: relative;

}

.carru .items {
    height: 100%;

}

.carru .flechas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    color: rgb(16, 49, 197);
    justify-content: space-between;
    padding: 3em;
}

a {
    text-decoration: none;
}

i {
    color: black;
}

#img1 {
    background-color: aquamarine;
}

#img2 {
    background-color: blueviolet;
}

#img3 {
    background-color: darkorange;
}

#img4 {
    background-color: darksalmon;
}

.carrousel .puntos {
    width: 100%;
    background-color: black;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;

}

.carrousel .punto {
    width: 1em;
    height: 1em;
    background-color: greenyellow;
    margin: 1em;

}

/*Codigo del FormCompra*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

.head{
    background-color:#52a535;
    display: flex;
    width: 100%;
    height:60px;
    
}

.navbar a{
    color: white;
    text-transform: uppercase;
    padding: 15px 15px ; 
    display: block;
}
.navbar{
    display:flex;
    margin-right: 10px;
   
}

.cuerpo{
    background-color: #83b6be;
    
}

