*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;

}

.logo{
    width: 2em;
    height: 2em;
}
.imagen_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    width: 11.5em;
}
.imagen_logo a{
    text-decoration: none;
    color: #fff;
    margin: 0.2em;
    border: 3px solid yellow;
    width: 100%;
}
.imagen_logo a:hover{
    text-shadow: -5px 4px black;
    color: #06a500;
    
}
nav{
    border: 3px solid greenyellow;
    width: 11.5em;
  }
.mmcontenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body {
    background: url(/style/img/SHOP/bloque-minecraf-fondo.png) no-repeat;
    background-size: cover;
    scrollbar-width: none;
    background-attachment: fixed; /* Esto hace que el fondo permanezca fijo mientras se desplaza la página */
}

.header {
    background-color: #333;
    padding: 10px;
    height: 3em;
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    width: 32em;
}
@media  screen and ( max-width:450px){
    .header{
        width: 100%;
        font-size: 70%;
    }
    .imagen_logo{
        width: 70%;
    }
    nav{
        width: 70%;
    }
}

@media  screen and ( max-width:1500px){
    .header{
        width: 100%;
       
    }
    .imagen_logo{
        width: 99%;
    }
    nav{
        width: 99%;
    }
}

@media  screen and ( max-width:2600px){
    .header{
        width: 100%;
       
    }
    .imagen_logo{
        width: 99%;
    }
    nav{
        width: 99%;
    }
}



.nav_link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav_link:hover{
    text-shadow: -5px 4px black;
    color: #06a500;
    
}

.container_register {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.container_form {
    text-align: center;
}

.label_form {
    display: block;
    margin-top: 10px;
}

.input_nombre,
.input_email,
.input_password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit_button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: #555;
}
.container_register {
    max-width: 25em;
    margin: 15em auto;
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejor legibilidad */
    border-radius: .5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrar el contenido del contenedor */
}

/* Estilos para dispositivos móviles (responsive) */
@media screen and (max-width: 600px) {
    .container_register {
        max-width: 90%;
    }
}