*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 2em;
    height: 2em;
}
.imagen_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen_logo a{
    text-decoration: none;
    color: #fff;
    margin: 0.2em;
}
.imagen_logo a:hover{
    text-shadow: -5px 4px black;
    color: #06a500;
    
}
.header {
    background-color: #333;
    padding: 10px;
    height: 3em;
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav_link:hover{
    text-shadow: -5px 4px black;
    color: #06a500;
    
}

body{
    background: rgb(38,66,57);
    background: linear-gradient(0deg, rgba(38,66,57,1) 5%, rgba(158,205,131,1) 100%);
} 

.imagen1{
    margin: 20px;
    padding: 10px;
    height: 17em;
    width: 18em;
    
}

.imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5em;
    justify-items: center;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.producto1{
    background-color: rgb(255, 255, 255);
    width: 20em;
    margin: .5em;
    text-align: center;
    border-radius: .5em;
    border: 3px solid black;
}

.producto1:hover{
    box-shadow: 12px 9px 10px 6px rgb(11, 37, 0);
   
}
.nombreProducto{
    background-color: #e4e4e4;
    border-top: 1px solid rgb(131, 125, 125);

}
.precioProducto{
    background-color:#e4e4e4 ;
}