*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 2em;
    height: 2em;
}

.header {
    background-color: #333;
    padding: 10px;
    height: 3em;
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}


body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 30%, rgba(188,121,210,1) 46%, rgba(100,68,135,1) 82%);
} 

.imagen1{
    margin: 20px;
    padding: 10px;
    height: 15em;
    width: 15em;
    
}

.imagenes{
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.producto1{
    background-color: white;
    width: 18em;
    margin: 15px;
    text-align: center;
    
    border-radius: 6px;
}

.producto1:hover{
    box-shadow: 10px 7px 8px rgb(56, 19, 90);
    border: 2px solid black; 
}
