* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #333;
    padding: 10px;
    height: 3em;
    align-items: center;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 2em;
    height: 2em;
}
.imagen_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen_logo a{
    text-decoration: none;
    color: #fff;
    margin: 0.2em;
}
.nav_link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav_link:hover{
    text-shadow: -5px 4px black;
    color: #06a500;
    
}

.content_Productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  
}


.producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.4em;
    padding: 1.5em;
}

.imagenDelProducto {
    grid-column: 1;
    height: 30em;
    width: 30em;
}

.title{
    grid-row: 0;
    grid-column: 1;
    font-size: 2em;
}

.precioProducto {
    grid-column: 1;
    font-size: 3em;
}

.descripcionProducto {
    grid-column:2 ;
    grid-row: 2;
    font-size: 1.5em;
    height: fit-content;
}

.productoAComprar{
        grid-column: 2;
}
/*Btns*/
.btn-compra {
    background:#1dc215;
    color: #fff !important;
    border-radius: .4rem;
    padding:.9rem  1.4rem!important;
    font-size: 1.2em;
}

.btn-selecionDeCantidad {
    background:#d5640e;
    color: #fff !important;
    border-radius: .4rem;
    padding:.8rem   1.7rem!important;;
    font-size: 1.2em;
}

#cantidadDeProductos {
    font-size: 1.5em;
}

.btn-aniadirProducto {
    background:#f2a30c;
    color: #fff !important;
    border-radius: .4rem;
    padding:.8rem    1.7rem!important;
    font-size: 1.2em;
}

/*Seccion Oferta */
.seccionOfertas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productoOferta {
    display:grid;
    align-items: center;
    justify-self:center;
    margin: 2.5em;
}

.productoOferta_img {
    height: 20em;
    width: 20em;
}

.ofertasTitle{
    font-size: 3em;
    margin: .4em;

}

.tituloProductoOferta {
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.itemProducto{
    display :flex;
    justify-content: center;
    text-decoration: none;
}
.itemProducto:visited{
    text-decoration:none ;    
    color: black;
}

.precioOferta {
    font-style: italic;
    font-size: 1.5em;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;

}

.footer_img {
  height: 2.1em;  
}

.footer_container_p {
    font-size:1.4em;

}

/*Responsible*/

@media (max-width:700px) {
    .producto{
        display:flex;
        justify-content:center;
        flex-direction: column;
    }
    .seccionOfertas{
       flex-direction: column; 
    }
}